<div class="card">
  <div class="card-body">
    <nav class="nav flex-column nav-pills nav-gap-y-1">
      <a href="/account/settings" class="nav-item nav-link has-icon nav-link-faded active">
        <i class="bi bi-person-rolodex"></i> Account
      </a>
      <a href="/account/settings/security" class="nav-item nav-link has-icon nav-link-faded">
        <i class="bi bi-shield"></i> Security
      </a>
    </nav>
  </div>
</div>