<style>
.form-signin {
  max-width: 330px;
  padding: 15px;
}
</style>

<div class="form-signin w-100 m-auto text-center my-5">
  <form action="/login" method="POST">
    <img class="mb-4" src="/img/logo.png" alt="">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
      <label for="floatingInput">Username</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
</div>