<style>
.form-signup {
  max-width: 330px;
  padding: 15px;
}
</style>

<div class="form-signup w-100 m-auto text-center mt-4">
  <form action="/signup" method="POST">
    <img class="mb-4" src="/img/logo.png" alt="">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

		<div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmailInput" name="email" placeholder="Email" required>
      <label for="floatingEmailInput">Email</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingUsernameInput" name="username" placeholder="Username" required>
      <label for="floatingUsernameInput">Username</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPasswordInput" name="password" placeholder="Password" required>
      <label for="floatingPasswordInput">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
</div>