<div class="row justify-content-md-center my-5">
	<div class="col-md-6 text-center">
		<p>Dashboard under construction :)</p>
		<p><a href="/#how-to-play">Learn how to play to get started.</a></p>

		<img src="/img/chi.gif" class="w-100">
	</div>
</div>