<div class="mt-4">
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto text-center">
      <h1>Welcome To <%= ENV["SERVER_NAME"] %></h1>
      <p>An Open Source, Wrath Of The Linch King private server powered by AzerothCore</p>
      <p>
        <a class="btn btn-primary" href="/signup" role="button">Create Account</a>
      </p>
    </div>
  </div>
</div>